{% extends 'core/base.html' %}
{% block content %}

    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item"><a href="{% url 'formularios:listar_formularios' %}" class="text-decoration-none">Formulários</a></li>
                <li class="breadcrumb-item active">Criar</li>
            </ol>
        </nav>
        <h2 class="fw-bold mb-0">Criar formulário</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar</button>
    </form>

{% endblock %}